body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 600px; 
    overflow-y: auto; 
    max-height: 80vh;
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #90caf9; /* Azul suave */
    background-color: #e3f2fd;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1565c0; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d47a1;
}

.post {
    background-color: #bbdefb; /* Azul claro */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
}

.post-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.reacciones a {
    margin-right: 10px;
    color: #1565c0;
    text-decoration: none;
    font-weight: bold;
}

.reacciones a:hover {
    text-decoration: underline;
    color: #0d47a1;
}
